.profile-avatar{
    width: 200px;
    height:200px;
    display: inline-block;
    border-radius: 50%;
    background-image: url(../assets/img/profile.jpeg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border: 10px solid #393e46;
 }

 .form-contact{
     background-color: #393e46;
     border: 5px solid #393e46;
     border-radius: 0px;
 }

 .form-contact:focus{
     background-color: #222831;
     border-color: #393e46;
     color:white;
 }

.form-contact:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

ul.list-skill{
   list-style: none;
   padding: 0px;
}

.list-skill>li{
    text-align: center;
    font-size: 50px;
    margin-right:50px;
    display: inline-block;
}

.list-skill>li>span{
 display: block;
 font-size: 14px;
}