*{
	margin: 0;
	padding: 0;
}

.jumbotron{
	background-image: url("../jumbotron.jpg");
	background-size: cover;
	min-height: 400px;
	background-position: 0 -900px;
	color: white;
	text-align: center;
	background-attachment: fixed;
	text-shadow: 2px 2px 2px black;
}
.jumbotron img{
	border-radius: 50%;
	border:3px solid #eaeaea;
	width: 200px;
	height: 200px;
	box-shadow: 0 2px 2px 2px #000111
}

.galeri{
	text-align: center;
}
.galeri h2{
	margin: -35px 0 10px 0;
	background-color: salmon;
}
.galeri img{
	width: 25%;
	margin: 5px;
	box-shadow: 0 2px 2px 1px #101010;
}

.tentang {
	text-align: center;
	background-image: url("../background.jpg");
	background-size: cover;
	background-attachment: fixed;
	min-height: 500px;
	background-position: 0 -200px;
	border-bottom: 5px solid lightgreen;

}

.tentang h2{
	margin: 10px 0 45px 0;
	background-color: lightskyblue;
	opacity: .5;
}
.kotak{
	background-color: rgba(0,0,0,.5);
	color: white;
	box-shadow: 0 2px 2px 2px black;
	margin:0 10pxs;
}
.kontak{
	margin:0 25%;	
	padding: 20px;
}
.kontak h3{
	text-align: center;
}
.footer{
	background-color: #101010;
	color: white;
	border-top: 5px solid teal;
	font-size: 12px;
}

